header {
background-color: grey;
height: 75px;
text-align: center;
}

h1 {
text-align: center;
padding-top: 17px;
font-size: xx-large;
font-weight: 800;
}

.profile {
margin: 25px;
}

#username {
padding: 10px;
}

#aboutme {
display: inline-block;

}

#userimg {
padding-left: 10px;
}

.profile-section {
height: 150px;
width: 500px;
}

.contact-info {
float: right;
}